body {
  background: #110542;
  
}
.loading {
  margin: auto;
  position: relative;
      /*left: 50%;
    top: 50%;
    margin: -60px 0 0 -60px;*/
  background: #8F90CC;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 10px solid #1969e1;
  
}
.loading:after {
  content: '';
  background: trasparent;
  width: 140%;
  height: 140%;
  position: absolute;
  border-radius: 100%;
  top: -20%;
  left: -20%;
  opacity: 0.7;
  box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
  -webkit-animation: rotate 2s infinite linear;
  -moz-animation: rotate 2s infinite linear;
  -o-animation: rotate 2s infinite linear;
  animation: rotate 2s infinite linear;
  
}
@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
        
  }
  100% {
    transform: rotateZ(360deg);
        
  }
  
}
.hover {
  animation: hover 3s infinite ease-in-out;
  
}
@keyframes hover {
  0% {
    transform: translateY(3%);
        
  }
  50% {
    transform: translateY(-3%);
        
  }
  100% {
    transform: translateY(3%);
        
  }
  
}
#heading {
  /*color: #CCE8FF;*/
  color: #38A5FF;
  text-align: center;
  
}
#alert {
  /*color: #CCE8FF;*/
  color: #000;
  text-align: center;
  font-size: 20px;
  width: 85%;
  display: block;
  margin: auto;
  margin-bottom: 30px;
  
}
#main-container {
  width: 50vw;
  height: auto;
  display: block;
  margin: auto;
  padding-top: 20px;
  
}
.speech-bubble {
  position: relative;
  background: #8f90cc;
  border-radius: .4em;
  padding: 5px;
  
}
.speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 55%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-top-color: #8f90cc;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -20px;
  
}
.wes {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  width: 100%;
  height: auto;
  max-width: 100px;
  max-height: 275px
                
}
/***** Mobile S - 320px ****/
@media screen and (max-width: 320px) {
  #heading {
    font-size: 1.5em;
        
  }
  #alert {
    font-size: 1.0em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 150%;
    height: 150%;
    position: absolute;
    border-radius: 100%;
    top: -25%;
    left: -25%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 50px;
    max-height: auto;
        
  }
  
}
/***** Mobile M - 375px ****/
@media screen and (max-width: 375px) {
  #heading {
    font-size: 1.75em;
        
  }
  #alert {
    font-size: 1.25em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 155%;
    height: 155%;
    position: absolute;
    border-radius: 100%;
    top: -30%;
    left: -30%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 60px;
    max-height: auto;
        
  }
  
}
/***** Mobile L - 425px ****/
@media screen and (max-width: 425px) {
  #heading {
    font-size: 1.85em;
        
  }
  #alert {
    font-size: 1.35em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 160%;
    height: 160%;
    position: absolute;
    border-radius: 100%;
    top: -30%;
    left: -30%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 70px;
    max-height: auto;
        
  }
  
}
/***** Tablet - 768px ****/
@media screen and (max-width: 768px) {
  #heading {
    font-size: 1.90em;
        
  }
  #alert {
    font-size: 1.5em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 165%;
    height: 165%;
    position: absolute;
    border-radius: 100%;
    top: -30%;
    left: -30%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 80px;
    max-height: auto;
        
  }
  
}
/***** Laptop - 1024px ****/
@media screen and (max-width: 1024px) {
  #heading {
    font-size: 2.5em;
        
  }
  #alert {
    font-size: 1.8em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 90px;
    height: 90px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 170%;
    height: 170%;
    position: absolute;
    border-radius: 100%;
    top: -35%;
    left: -35%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
    max-width: 90px;
    max-height: auto;
        
  }
  
}
/***** Laptop L - 1440px ****/
@media screen and (max-width: 1440px) {
  #heading {
    font-size: 2.75em;
        
  }
  #alert {
    font-size: 2.0em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 175%;
    height: 175%;
    position: absolute;
    border-radius: 100%;
    top: -35%;
    left: -35%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: auto;
        
  }
  
}
/***** 4k - 2560px ****/
@media screen and (max-width: 2560px) {
  #heading {
    font-size: 3.0em;
        
  }
  #alert {
    font-size: 2.5em;
        
  }
  #main-container {
    width: 90vw;
    height: 100vh;
    display: block;
    margin: auto;
    padding-top: 5px;
        
  }
  .loading {
    margin: auto;
    position: relative;
            /*left: 50%;
        top: 50%;
        margin: -60px 0 0 -60px;*/
    background: #8F90CC;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    border: 10px solid #1969e1;
        
  }
  .loading:after {
    content: '';
    background: trasparent;
    width: 175%;
    height: 175%;
    position: absolute;
    border-radius: 100%;
    top: -35%;
    left: -35%;
    opacity: 0.7;
    box-shadow: rgba(255, 255, 255, 0.6) -4px -5px 3px -3px;
    -webkit-animation: rotate 2s infinite linear;
    -moz-animation: rotate 2s infinite linear;
    -o-animation: rotate 2s infinite linear;
    animation: rotate 2s infinite linear;
        
  }
  .wes {
    display: block;
    margin: auto;
    margin-bottom: 40px;
    width: 100%;
    height: auto;
    max-width: 100px;
    max-height: auto;

  }
